[Desktop Entry]
Name=MK64Recompiled
Type=Application
Terminal=false
Icon=MK64Recompiled
Exec=MK64Recompiled
GenericName=MK64Recompiled
Categories=Game;

